[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autograd = "*"
matplotlib = "*"
mylib = "*"
seaborn = "*"
sklearn = "*"
scipy = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
