[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
autograd = "*"
matplotlib = "==3.4.3"
sklearn = "*"
seaborn = "*"
scipy = "*"
openpyxl = "*"
shap = "*"

[dev-packages]

[requires]
python_version = "3.10"
